.root {
  border: 1px solid black;
  margin-bottom: 40px;
}

.piano_section {
}
.logs_section {
}
.simulator_section {
}

.pressed_notes {
  display: flex;
}

.pressed_note {
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
}
