.container {
  --black-key-color: #222222;
  --black-key-pressed-color: #555;
  --black-key-width: 30px;
  --black-key-height: 120px;

  --natural-key-color: #cbcbcb;
  --natural-key-pressed-color: #dbdbdb;
  --natural-key-width: calc(var(--black-key-width) * 2);
  --natural-key-height: calc(var(--black-key-height) * 1.5);
}
.keys {
  padding: 10px;
  display: inline-block;
  background-color: var(--black-key-color);
}

.key {
  float: left;
  position: relative;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: end;
  padding-bottom: 5px;
}

.black_key {
  position: relative;
  margin: 0 calc(-2px + var(--black-key-width) / -2);
  top: 0;
  border: 1px solid #cccccc;
  width: var(--black-key-width);
  z-index: 2;
  height: var(--black-key-height);
  background-color: var(--black-key-color);
  color: white;
}
.black_key__pressed {
  background-color: var(--black-key-pressed-color);
}

.natural_key {
  border: 1px solid #aaaaaa;
  z-index: 1;
  width: var(--natural-key-width);
  height: var(--natural-key-height);
  background-color: var(--natural-key-color);
}
.natural_key__pressed {
  background-color: var(--natural-key-pressed-color);
}
